<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <meta name="description" content="A Fintech site - A clean and simple interface to organize your favourite websites">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="/css/styles.css"> <!-- Link to CSS file -->
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet"> <!-- Google fonts for the website -->
  <title>FinNest</title>
</head>
<body>

  <!-- Hero section starts here -->
  <section class="hero">
    <nav class="topnav">
      
      <ul>
        <li><a href="/">Home</a></li> 
        <li><a href="/market">Market</a></li>
        <li><a href="/expert">Expert</a></li>
        <li><a href="#Mem">Membership</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
      <img src="images/icon-hamburger.svg" alt="hamburger menu" class="mobile-menu" id="mobileMenu">
    </nav>

    <div class="hero-row">
      <div class="left-col">
        <div  class="left-col-text">
          <h2><a href="#"><img src="images/main.png" alt="bookmark logo" id="logo"></a></h2>
          <p>"Navigate Your Finances with Confidence and Ease"
          </p>
          <div class="hero-links">
            <a href="#">Start Your Journey</a>
            <a href="#">Start Trading</a>
          </div>
        </div>
      </div>

      <div id="leftu" class="logo">
        <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
    `{
    "interval": "4h",
    "width": "400",
    "isTransparent": false,
    "height": "450",
    "symbol": "SIX:GOOGL",
    "showIntervalTabs": true,
    "displayMode": "multiple",
    "locale": "in",
    "colorTheme": "light"
  }`
    </script>
  </div>
  <!-- TradingView Widget END -->
      </div>
    </div>
  </section>

  <div class="mobile-navigation" id="mobileNav">
    <nav>
      <ul>
        <li><a href="#">market</a></li>
        <li><a href="#">Expert</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">login</a></li>
      </ul>

      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">X</a></li>
      </ul>
    </nav>
  </div>

  <!-- Features section starts here -->
  <section class="features">
    <h2>Features</h2>
    <p>Empower your financial journey with our advanced budgeting tools, personalized investment strategies<br> real-time insights, guiding you towards a secure and prosperous future.
    </p>

    <div class="features-controller">
      <p class="control active">Trade</p>
      <p class="control">Expert Advice</p>
      <p class="control">Financial Information</p>
    </div>

    <div class="features-tab">
      <div class="left-col">
        <img src="images/img1.png" alt="features illustration" id="image">
      </div>
      <div class="right-col">
        <h3 id="heading">Manage Portfolio in one click</h3>
        <p id="paragraph">Seamlessly manage your investments with our intuitive tools. Track, diversify, and adjust your portfolio in real-time, ensuring it evolves with your goals effortlessly.
        </p>
        <a href="#">More Info</a>
      </div>
    </div>
  </section>
  

  <!-- Download extension section starts here -->
  <section id="Mem" class="download">
    <h2>Membership</h2>
    <p>Unlock exclusive financial insights and personalized services by becoming a valued member.<br> Elevate your financial journey with our membership benefits tailored just for you!</p>

    <div class="download-row">
      <div class="download-col">
        <img src="images/silver.png" alt="chrome logo">
        <h3>Silver Membership</h3>
        <p>Price $5</p>
        <hr>
        <a href="#">Buy & Start Your journey</a>
      </div>
      <div class="download-col">
        <img src="images/silver (2).png" alt="firefox logo">
        <h3>Gold Membership</h3>
        <p>Price $10</p>
        <hr>
        <a href="#">Buy & Start Your journey</a>
      </div>
      <div class="download-col">
        <img src="images/silver (3).png" alt="opera logo">
        <h3>Diamond Membership</h3>
        <p>Price $12</p>
        <hr>
        <a href="#">Buy & Start Your journey</a>
      </div>
    </div>
  </section>

  <!-- FAQ section starts here -->
  <section class="faq">
    <h2>Frequently Asked Questions</h2>
    <p>Here are some of our FAQs. If you have any other questions<br> you’d like answered please feel free to email us.</p>

    <ul class="banner">
      <li>
        <div class="text">
          What is FinNest? <img src="images/arrow.png" alt="arrow">
        </div>
        
        <div class="drop-down-text">
          <p>
            FinNest is a comprehensive financial platform designed to empower users with a range of financial tools and services.<br> From personalized financial advice to budgeting tools and portfolio management,<br> FinNest is your go-to destination for all things finance.
          </p>
        </div>
      </li>

      <li>
        <div class="text">
          What services does FinNest offer? <img src="images/arrow.png" alt="arrow">
        </div>

        <div class="drop-down-text">
          <p>
            FinNest offers a suite of financial services, including:

            Financial advice tailored to your goals.
            Advanced budgeting tools for effective financial planning.
            Portfolio management for optimizing your investments.
            Trading features to execute investment strategies.
            Financial education resources based on your interests.
          </p>
        </div>
      </li>
      
      <li>
        <div class="text">
          Is the financial advice provided by FinNest free? <img src="images/arrow.png" alt="arrow">
        </div>

        <div class="drop-down-text">
          <p>
            No, FinNest offers Membership for financial advice. However, for more in-depth and personalized services, premium options may be available.
          </p>
        </div>
      </li>

      <li>
        <div class="text">
          Can I execute trades directly on FinNest? <img src="images/arrow.png" alt="arrow">
        </div>

        <div class="drop-down-text">
          <p>
            Yes, FinNest provides trading features that allow you to execute trades within the platform. It's a seamless way to implement your investment strategies.
          </p>
        </div>
      </li>
    </ul>
    <a href="#" class="btn">More Info</a>
  </section>

  <!-- Contact Us section starts here -->
  <section class="contact">
    <h3>35,000+ already joined</h3>
    <h4>Stay up-to-date with what<br> we’re doing</h4>

    <form action="#" autocomplete="off" id="formbox" onsubmit="return validateForm()">
      <input type="text" required placeholder="Enter your email address" id="email" class="input">
      <img src="images/icon-error.svg" alt="error icon" class="error" id="img">
      <button type="submit">Contact Us</button>
      <span id="alert"></span>
    </form>
  </section>

  <!-- Footer starts here -->
  <footer id="col">
    <nav>
      <a href="#"><img src="images/logo2.png" alt="bookmark logo"></a>
      <ul class="links">
        <li><a href="#">features</a></li>
        <li><a href="#">pricing</a></li>
        <li><a href="#">contact</a></li>
      </ul>
      <ul class="social-links">
        <li><a href="#">Instagram</a></li>
        <li><a href="#">X(formerly Twitter)</a></li>
      </ul>
    </nav>

    <p class="attribution">
      Founded by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank" rel="noopener">Team Evolution</a>. 
      Coded by <a href="https://www.linkedin.com/in/uzochukwuokafor/" target="_blank" rel="noopener">Reddy Brothers</a>.
    </p>
  </footer>
  
  <script src="/js/main.js"></script>
</body>
</html>